<p id="notice"><%= notice %></p>

<h1>Products</h1>


<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-3 col-sm-4">        
        <h1><%= product.name %></h1>
        <p><%= image_tag("product.image_url", class: "img-responsive") %></p>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <strong><%= product.price %></strong>
      </div>
    <% end %>
  </div>
</div>


<br>
<p><%= link_to 'New Product', new_product_path %></p>
