<id="notice"><%= notice %>
<div class="container-fluid show_product">
  <div class="row">
  	<h2><%= @product.name %></h2>
  	<div class="col-md-6 col-xs-12">
			<%= image_tag(@product.image_url, class: "img-responsive show") %>
		</div>
		<div class="col-md-6 col-xs-12">
			<p><%= @product.description %></p>
		</div>
		<div class="col-md-6 col-xs-12">
			<p><strong>Price: </strong>EUR <%= @product.price %></p>
		</div>
		<div class="col-md-6 col-xs-12">
			Average Rating:
			<div class="rated" data-score="<%= @product.average_rating %>"></div>
		</div>		
  	<p><% if signed_in? %></p>
  	<div class="col-md-6 col-xs-12">
    	<br><h4>Add a review:</h4>
      	<%= form_for([@product, @product.comments.build]) do |f| %>
        	<%= f.label :body, "Comments" %>
          	<%= f.text_area(:body, cols:8, rows:4, class: "form-control") %>
    </div>
    <div class="col-md-6 col-xs-12">
    	<div class="rating">
    	</div>  
      <p><%= f.submit "Submit" %></p>
    </div>
      <% end %>
    	<% end %>
    </div>

     <%= render 'comments' %>

    <p><div class="apple_pagination">
    	<div class="page_info">
      	<%= page_entries_info @comments %>
    	</div>
    	<%= will_paginate @comments, :container => false %>
  	</div></p>
		
		<p><%= link_to 'Edit', edit_product_path(@product) %> |
		<%= link_to 'Back', products_path %><br></p>
</div>