<p id="notice"><%= notice %></p>

<p>
  <strong>Name of Bike:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description of the Bike:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image of the Bike:</strong>
  <%= @product.image_url %>
</p>

<p>
	<strong>Colour:</strong>
	<%= @product.colour %>
</p>

<p>
	<strong>Price:</strong>
	<%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
